<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="COMPORT" value="COM1" />
    <add key="FusionConnectionString" value="Server=.\SQLEXPRESS;Database=FusionTest;Trusted_Connection=True;" />
    <add key="KnotConnectionString" value="Server=.\SQLEXPRESS;Database=KnotData;Trusted_Connection=True;" />
    <add key="ExportPath" value="C:\IT_CodeRepo" />
    <!--<add key="ExportFileType" value="xls" />-->
    <add key="ExportFileType" value="csv" />
    <!--<add key ="Mode" value ="Daily"/>-->
    <!--<add key ="ScheduledTime" value ="18:41"/>-->
    <add key ="Mode" value ="Interval"/>
    <add key ="IntervalMinutes" value ="1"/>
  </appSettings>
</configuration>